.app_header {
  background: #35b2e3;
  color: white;
  height: 66px;
}
.app_header .header {
    padding: 20px 0;
    font-size: 1.4rem;
}
.app_header .header .back_control {
  float: left;
  font-size: 2rem;
  margin-top: -8px;
  padding-left: 12px;
}
